html {
    font-size: 12px;
}

#pictureOfMeContainer {
    -webkit-print-color-adjust: exact;
}

header {
    box-shadow: none;
    border-bottom: 2px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

footer a::before {
    content: " (" attr(href) ") ";
}

#titleBox {
    flex-direction: row;
}

#personalInfo footer {
    justify-content: right;
}

#personalInfo address, h1 {
    text-align: right;
}

article {
    box-shadow: none;
}

.donutChart {
    display: none;
}

.skillCard {
    height: auto;
}

.skillCard .projectTitle {
    font-weight: bold;
    margin-bottom: 5px;
}