html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc;
    margin: auto;
    max-width: 675px;
}

/* HEADER ELEMENTS */

header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 .3125rem 0.35rem #555577;
}

#pictureOfMeContainer {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(assets/images/pictures/me-profile.jpg);
    background-size: cover;
}

h1{
    font-size: 2.2rem;
    margin: 0;
}

#personalInfo {
    display: flex;
    flex-direction: column;
}

#personalInfo address {
    text-align: right;
    line-height: 1.5rem;
}

#personalInfo address a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

#personalInfo address a:hover {
    font-weight: bold;
}

#personalInfo address img {
    width: 1rem;
}

#personalInfo address img {
    vertical-align: middle;
}

#personalInfo footer {
    margin-top: 5px;
    display: flex;
    justify-content: right;
    column-gap: 0.5rem;
}

#personalInfo footer img {
    width: 1.5rem;
}

#titleBox {
    min-width: 250px;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width: 610px){
    #titleBox {
        flex-direction: column;
    }

    #personalInfo footer {
        justify-content: center;
    }

    #personalInfo address, h1 {
        text-align: center;
    }
}

/* MAIN BODY */

article {
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 .3125rem 0.35rem #555577;
}

article p{
    text-align: justify;
}

article p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (max-width: 610px){
    article {
        align-items: center;
    }

    article * {
        text-align: center;
    }
}

/* CARD LIST */

#projectsList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.6rem;
    row-gap: 0.6rem;
}
@media (max-width: 610px){
    #projectsList {
        justify-content: center;
    }
}

.projectCard {
    width: 8rem;
    height: 11.25rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #555555;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;
    box-sizing: content-box;
    padding: .25rem;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.15rem #555577);
    transition: filter 0.75s;
}
.projectImage {
    width: 4rem;
    object-fit: contain;
}
.projectDescription, .projectTitle {
    text-align: center;
}
#projectsList a {
    text-decoration: none;
}
.projectCard:hover {/*seletor de uma pseudo classe (:hover seleciona um elemento quando o mouse está passando sobre ele)*/
    filter: drop-shadow(0 0 0.5rem #555577);
    transition: filter 0.75s;
}